.heading{
    margin: 0px;
    box-shadow: 3px3px 3px grey;
    font-weight: bold;
    font-size: 17px;
    width: 100%;
}
.note{
    color: black;
    font-weight: lighter;
}
.copy_right_footer{
    text-align: center;
    width: 100%;
    line-height: 2;
    bottom: 0;
    background-color: grey;
    color: white;
    position: fixed;
    font-weight: bolder;
    font-size: 20px;
}
body{
    background-size: cover;
}
canvas{
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 5px 5px 5px grey;;
}